.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}







.radio2 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio2 + label {
  cursor: pointer;
}
.radio2:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio2:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio2:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio2:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio2:checked + label:after {
  opacity: 1;
}
.radio2:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}




.radio3 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio3 + label {
  cursor: pointer;
}
.radio3:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio3:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio3:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio3:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio3:checked + label:after {
  opacity: 1;
}
.radio3:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio4 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio4 + label {
  cursor: pointer;
}
.radio4:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio4:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio4:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio4:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio4:checked + label:after {
  opacity: 1;
}
.radio4:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio5 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio5 + label {
  cursor: pointer;
}
.radio5:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio5:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio5:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio5:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio5:checked + label:after {
  opacity: 1;
}
.radio5:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio6 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio6 + label {
  cursor: pointer;
}
.radio6:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio6:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio6:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio6:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio6:checked + label:after {
  opacity: 1;
}
.radio6:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio7 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio7 + label {
  cursor: pointer;
}
.radio7:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio7:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio7:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio7:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio7:checked + label:after {
  opacity: 1;
}
.radio7:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio8 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio8 + label {
  cursor: pointer;
}
.radio8:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio8:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio8:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio8:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio8:checked + label:after {
  opacity: 1;
}
.radio8:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio9 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio9 + label {
  cursor: pointer;
}
.radio9:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio9:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio9:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio9:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio9:checked + label:after {
  opacity: 1;
}
.radio9:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}



.radio10 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio10 + label {
  cursor: pointer;
}
.radio10:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio10:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio10:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio10:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio10:checked + label:after {
  opacity: 1;
}
.radio10:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
